 .u-section-1 {
  background-image: linear-gradient(#7748bb, #e0e5eb);
}


.u-section-1 .u-sheet-1 {
  min-height: 959px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 119px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  width: 504px;
  margin: 17px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 69px 353px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: double;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -39px auto 60px 359px;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-btn-2 {
    margin-left: 361px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-right: 205px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 218px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 62px;
    margin-right: 134px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 61px;
    margin-right: 66px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 123px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 129px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -131px;
    margin-left: auto;
  }
}
